{{#
    @name {{ name }} show
    @desc The {{ name }} show template.
#}}

<!-- /{{ handle }}/show.antlers.html -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "@id": "{{ permalink }}/#article",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ permalink }}"
        },
        "headline": "{{ title }}",{{ if image }}{{ glide:image width="1680" fit="crop" format="webp" quality="85" }}
        "image": {
            "@type": "ImageObject",
            "url": "{{ config:app:url }}{{ url }}",
            "width": {{ width }},
            "height": {{ height }}
        },{{ /glide:image }}{{ /if }}
        "datePublished": "{{ date | format('c') }}",
        "dateModified": "{{ last_modified | format('c') }}",
        "author": { "@id": "{{ site:permalink }}/#organization" },
        "publisher": { "@id": "{{ site:permalink }}/#organization" }
    }
</script>

<main class="page-builder" id="content">
    <div class="fluid-grid stack-8">
        <header class="md:col-start-[col-3] md:col-span-8 stack-4">
            {{ partial:typography/time :content="date" class="block text-center" }}

            {{ partial:typography/h1 :content="title" class="text-center" }}

            <figure>
                {{ picture :image="image" sizes="(min-width: 1280px) 1150px, (min-width: 768px) 90vw" aspect_ratio="3/2" cover="true" class="aspect-[3/2]" }}
            </figure>
        </header>
    </div>

    <section class="fluid-grid">
        {{ partial:typography/prose as="article" class="contents" }}
            {{ article }}
                {{ partial src="components/{type}" }}
            {{ /article }}
        {{ /partial:typography/prose }}
    </section>

    {{ collection:previous in="{{ handle }}" sort="date:asc" limit="3" as="items" }}
        {{ unless no_results }}
            <section class="fluid-grid">
                <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
                    {{ partial:typography/h1 as="h2" content="{ trans:strings.{{ handle }}_more }" class="md:col-span-12" }}

                    {{ items }}
                        {{ partial:components/{{ handle }}_item class="md:col-span-4" }}
                    {{ /items }}
                </div>
            </section>
        {{ /unless }}
    {{ /collection:previous }}
</main>
<!-- /{{ handle }}/show.antlers.html -->
