{{#
    @name Password reset
    @desc The Password reset page builder block.
    @set page.page_builder.password_reset
#}}

<!-- /page_builder/_password_reset.antlers.html -->
<section class="fluid-grid">
    <div class="span-content md:col-span-6 md:col-start-[col-1] stack-8" id="form">
        {{ partial:typography/prose }}
            {{ block:introduction }}
        {{ /partial:typography/prose }}

        {{ user:reset_password_form redirect="{ intranet:account_entry | url }" error_redirect="#form" class="stack-6" }}
            {{ partial:components/form_input field_handle="email" type="email" label="{ trans:strings.account_email }" required="true" old_value="{ old:email }" }}

            {{ partial:components/form_input field_handle="password" type="password" label="{ trans:strings.account_password }" required="true" old_value="{ old:password }" }}

            {{ partial:components/form_input field_handle="password_confirmation" type="password" label="{ trans:strings.account_password_confirmation }" required="true" old_value="{ old:password_confirmation }" }}

            {{ if errors }}
                {{ partial:components/notification type="error" content="{ errors | list }" }}
            {{ /if }}

            {{ if url_invalid }}
                {{ partial:components/notification type="error" content="{ trans:strings.account_reset_invalid }" }}
            {{ /if }}

             <div class="flex justify-end">
                {{ partial:components/button as="button" button_type="button" label="{ trans:strings.account_password_reset }" }}
            </div>
        {{ /user:reset_password_form }}
    </div>
</section>
<!-- End: /page_builder/_password_reset.antlers.html -->
