---
id: 2c2c8049c-b6dd-46de-ba5c-748e8cd83b01
blueprint: page
title: 'Email verification'
page_builder:
  -
    id: mfs5lbqj
    type: email_verification
    enabled: true
    exclude_from_static_caching: true
    introduction:
      -
        type: heading
        attrs:
          level: 1
        content:
          -
            type: text
            text: 'Mail verification'
      -
        type: paragraph
        content:
          -
            type: text
            text: 'You just received an email from us. '
      -
        type: orderedList
        attrs:
          start: 1
        content:
          -
            type: listItem
            content:
              -
                type: paragraph
                content:
                  -
                    type: text
                    text: 'Click on the link in the email to verify your address. '
          -
            type: listItem
            content:
              -
                type: paragraph
                content:
                  -
                    type: text
                    text: 'Your account has been created. '
      -
        type: paragraph
        content:
          -
            type: text
            text: 'Use the form below to resend the email. '
    text:
      -
        type: paragraph
        content:
          -
            type: text
            text: Text
seo_noindex: true
seo_nofollow: false
seo_canonical_type: entry
sitemap_change_frequency: weekly
sitemap_priority: 0.5
updated_by: ceaa75bd-bc37-4a8b-b0f2-b7af70e58b0e
updated_at: 1758378561
---
