{{#
    @name Group Blocks
    @desc Renders a selected group block
    @set page.page_builder.block_groups
#}}

<!-- /page_builder/_block_groups.antlers.html -->
{{ block_groups:block_groups }}
    {{ _slug = label | slugify }}
    {{ if _slug == block:block_group && available_as_block }}
        {{ page_builder scope="block" }}
            {{ partial src="page_builder/{type}" }}
        {{ /page_builder }}
    {{ /if }}
{{ /block_groups:block_groups }}
<!-- End: /page_builder/_block_groups.antlers.html -->